<div class="w3-content" style="max-width:1500px"><div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
    <div class="w3-half">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696651063/chat-sihem/chatangularapp_vg8uxm.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696651819/chat-sihem/Design_sans_titre_y9xgmw.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696652228/chat-sihem/angularapptest_bbj0ma.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696652475/chat-sihem/sihemproject_dopmly.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696652666/chat-sihem/app_evtfmu.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696652228/chat-sihem/angularapptest_bbj0ma.png" style="width:100%">
    </div>
  
    <div class="w3-half">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696652942/chat-sihem/angular_yqo4rm.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696652666/chat-sihem/app_evtfmu.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696653225/chat-sihem/angularapp_yxuwas.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696652475/chat-sihem/sihemproject_dopmly.png" style="width:100%">
      <img src="https://res.cloudinary.com/dvz16ceua/image/upload/v1696651819/chat-sihem/Design_sans_titre_y9xgmw.png" style="width:100%">
    </div>
  </div>

  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> 
    <i class="fa fa-github w3-hover-opacity"></i>
    <p>@2023 - <a href="https://github.com/SihemOHsin" target="_blank" class="w3-hover-text-green">angular app mini project</a></p>
  </footer>
  